        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AI人材育成<br>×<br>コンサルティング</h1>
            <p>あなたはAI・IoT・ブロックチェーンのビジネス活用に困っていませんか？<br>
               エデュテックパートナーズはクライアントと二人三脚で、テクノロジービジネスに向けた自立自走を支援する唯一無二の育成支援型コンサルティングカンパニーです。
            </p>
        </div>
     
        
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFF; height:150px;">
            <h2>AI人材の育成方法を知る</h2>
            <p>
            AI人材の育成方法について無料講座など豊富な情報を提供しています。
            </p>
    　　</div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFF; height:350px;">
            <div class= "gaiyo">
                <div class="icon"><%= image_tag "thinking.png" %></div>
                <h1>AIモデル開発スキルを知る</h1>
                <p>
                AIスキルを身に着けるためのAIスキル体系を理解した上で、皆様の効率的な学習ステップをお教えします。
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFF; height:350px;">
            <div class= "gaiyo">
                <div class="icon"><%= image_tag "thinking.png" %></div>
                <h1>AIモデル開発スキルを知る</h1>
                <p>
                AIスキルを身に着けるためのAIスキル体系を理解した上で、皆様の効率的な学習ステップをお教えします。
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFF; height:350px;">
            <div class= "gaiyo">
                <div class="icon"><%= image_tag "thinking.png" %></div>
                <h1>AIモデル開発スキルを知る</h1>
                <p>
                AIスキルを身に着けるためのAIスキル体系を理解した上で、皆様の効率的な学習ステップをお教えします。
                </p>
            </div>
        </div>
    </div>

</div>
