
<div class="container">
    <div class = "row">
        
        <div class="col-md-12 col-xs-12" style="background:#ffffff; height:800px;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat01.jpg" %>>
        </div>
        <br>
        <div class="col-md-12 col-xs-12" style="background:#ffffff; height:200px;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat02.jpg" %>>
        </div>
        <br><br>
        <div class="col-md-12  col-xs-12" style="padding:0; background:#FFFFFF; height:150px;">
            <h2>ライフスタイルの多彩な広がりに応える<br>
            新たな食文化の創造へ。<br>
            earthmeatは、<br>
            ヨーロッパ生まれのやさしいお肉。<br><br>
            
            植物由来ながら、肉と遜色ないジューシーな食感と、 <br>
            冷めてもやわらかいという特徴があり、 <br>
            ヘルシーで、おいしいお料理を提供することができます。<br>
            これまでお肉を口にできなかった方はもちろん、 <br>
            さまざまなメニューに取り入れることで、 <br>
            おいしさの可能性を広げてください。
            </h2>
    　　</div>
        
  　</div>
</div>
