
<div class="container">
    <div class = "row">
        <div class="col-md-12 col-xs-12" style="background:#ffffff; height:800px;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat01.jpg" %>>
        </div>
    </div>
    <br><br>
    <div class = "row">
        <div class="col-md-12 col-xs-12" style="background:#ffffff; height:200px;" >
            <img class="img-responsive center-block" src=<%= asset_path "earthmeat02.jpg" %>>
        </div>
    </div>

        


</div>
