<footer>
  <nav class="navbar navbar-inverse">
        <div class="footer">
              <h1 class="logo2">
              <%= image_tag "logo01.png" %>
              原田産業株式会社<br>
              フードマテリアルチーム
              </h1>
              〒100-0005　東京都千代田区丸の内1丁目2-1 <br>
              東京海上日動ビル新館5F <br>
              <%= link_to "問い合わせ", static_pages_inquiry_path %><br> 
              <%= link_to "原田産業株式会社", static_pages_harada_path %><br><br>  
              <%= link_to "プライバシーポリシー", static_pages_privacy_path %><br><br>  
              Copyright © Harada Corperation All rights reserved.<br>
        </div>
  </nav>
</footer>